@using Sharp.CMS.Data.RenderingPages.Queries
@model List<Sharp.CMS.ViewModels.RenderPage.RenderMainPageDetails>
@inject IRenderingMenus IRenderingMenus

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">

        @foreach (var menuparent in Model)
        {
            if (!IRenderingMenus.CheckHasFirstChild(menuparent.PageId))
            {

                string data = "";
                if (menuparent.OpenInNewTab)
                {
                    data = "target='_blank'";
                }

                if (!string.IsNullOrEmpty(menuparent.Permalink))
                {



                    <li class="nav-item">
                        <a class="nav-link text-dark" @data href="@menuparent.Permalink">@menuparent.MenuNameEN</a>
                    </li>
                }
                else if (menuparent.IsPhysicalPage)
                {

                    <li class="nav-item">
                        <a class="nav-link text-dark" @data href="/@menuparent.PhysicalPageController/@menuparent.PhysicalPageAction">@menuparent.MenuNameEN</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" @data href="/@menuparent.PageName">@menuparent.MenuNameEN</a>
                    </li>
                }

            }
            else
            {


                string data = "";
                if (menuparent.OpenInNewTab)
                {
                    data = "target='_blank'";
                }


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" @data href="/@menuparent.PageName" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @menuparent.MenuNameEN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        @foreach (var menuchild in IRenderingMenus.GetChildMenus(menuparent.PageId))
                        {
                            string childdata = "";
                            if (menuchild.OpenInNewTab)
                            {
                                childdata = "target='_blank'";
                            }

                            if (IRenderingMenus.GetChildMenus(menuparent.PageId).Count() == 1)
                            {

                                if (!string.IsNullOrEmpty(menuchild.Permalink))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" @childdata href="@menuchild.Permalink">@menuchild.MenuNameEN</a>
                                    </li>
                                }
                                else
                                {

                                    <li>
                                        <a class="nav-link text-dark" @childdata href="/@menuchild.PageName">@menuchild.MenuNameEN</a>
                                    </li>
                                }

                            }
                            else
                            {
                                if (!IRenderingMenus.CheckHasSubChildMenu(menuchild.PageId))
                                {
                                    if (!string.IsNullOrEmpty(menuchild.Permalink))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" @childdata href="@menuchild.Permalink">@menuchild.MenuNameEN</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="dropdown-item" @childdata href="/@menuchild.PageName">@menuchild.MenuNameEN</a>
                                        </li>
                                    }

                                }

                                else
                                {
                                    <li class="dropdown-submenu">


                                        @if (IRenderingMenus.GetSubChildMenus(menuchild.PageId).Any())
                                        {

                                            <a class="dropdown-item dropdown-toggle" href="#">@menuchild.MenuNameEN</a>



                                            <ul class="dropdown-menu">
                                                @foreach (var menusubchild in IRenderingMenus.GetSubChildMenus(menuchild.PageId))
                                                {

                                                    string subchilddata = "";
                                                    if (menusubchild.OpenInNewTab)
                                                    {
                                                        subchilddata = "target='_blank'";
                                                    }


                                                    if (!string.IsNullOrEmpty(menusubchild.Permalink))
                                                    {
                                                        <li class="nav-item">
                                                            <a class="nav-link text-dark" @subchilddata href="@menusubchild.Permalink">@menusubchild.MenuNameEN</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" @subchilddata href="/@menusubchild.PageName">@menusubchild.MenuNameEN</a>
                                                        </li>

                                                    }



                                                }
                                            </ul>
                                        }

                                    </li>
                                }





                            }

                        }
                    </ul>


                </li>

            }
        }
    </ul>
</div>
